// imports de variables
@import "variables";
@import "breakpoints";

// cuerpo para paginas 
body {
    margin: 0;
    font-family: $mainfont, sans-serif;
}

// barra de navegacion
@import "navbar";

// navbar bootsrap my work, social y contact.html
.navbar-nav .nav-item:hover {
    background-color: #F7F5EB;

}

// pagina principal html

.grid-container {
    display: grid;


    .box {
        border: 1px solid $mainbackground;
        padding: 0px;
    }

    .names {
        background-color: $mainbackground;
        @include flex-center;


        .nombre {
            font-size: 4rem;
            font-weight: bold;
            color: black;
            margin: 1px;

        }

        .profesion {
            font-size: 1rem;
            color: rgb(72, 72, 72);
            margin: 10px;

        }
    }

    .intro {
        background-color: $mainbackground;
        display: grid;
        grid-template-columns: 40% 60%;
        padding-top: 40px;

        .styled {
            @include button-transp;
            transition: all .8s;
        }

        & .styled:hover {
            scale: (1.2);
        }


        .textbegin {

            .big {
                font-size: 6rem;
                margin: 1px;
                padding-top: 50px;
                transition: all .8s;

            }
        }

        & .big:hover {
            scale: (1.2);
        }


        .small {
            font-size: 3rem;
            margin: 1px;
            transition: all .8s;
        }

        & .small:hover {
            scale: (1.2);
        }
    }
}


.main {
    background-color: $mainbackground;

    .texto {
        font-size: 1.5rem;
        padding: 20%;
        padding-top: 10%;
        font-weight: lighter;
        text-align: center;
    }

}

// inicio de pagina my story html

.home {
    background-color: $mainbackground;
    height: 70vh;


    .texto {
        font-size: 1rem;
        color: black;
        margin: 1px;
        text-align: justify;
        padding: 40px;
    }

    .image {
        margin: 1px;
        @include flex-center;
        transition: all 0.8s;
    }

    & .image:hover {
        scale: (2);

    }
}

.stunt {
    background-color: $mainbackground;

    .pktext {
        font-size: 1rem;
        color: black;
        padding: 40px;
    }

    .parkour {
        margin: 1px;
        @include flex-center;
        transition: all .8s;
    }

    & .parkour:hover {
        scale: (1.5);
    }
}

.actuacion {
    background-color: $mainbackground;

    .lorem {
        color: black;
        font-size: 1rem;
        padding: 5%;
        text-align: justify;

    }

    .model {
        margin: 1px;
        @include flex-center;
        transition: all .5s;
    }

    & .model:hover {
        scale: (1.2);
    }
}

// inicio pagina my work

// inicio pagina social html
.principal {
    display: grid;
    grid-template-rows: auto auto;

    .texto {
        background-color: $mainbackground;
        margin: 0px;
        font-size: 2rem;
        padding: 30px;
        text-align: center;
    }

    .pendiente {
        background-color: $mainbackground;
        font-size: 1rem;
        padding: 30px;
        margin: 0px;
        text-align: center;

    }

    .enlace {
        font-size: .8rem;
        text-decoration: none;
        color: blueviolet;
    }


}

.buttons {
    background-color: $mainbackground;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    padding: 40px;

    .instagram {
        @include button-transp;
        transition: all 1s;
    }

    & .instagram:hover {
        scale: (1.2);
    }

    .linkedin {
        @include button-transp;
        transition: all 1s;
    }

    & .linkedin:hover {
        scale: (1.2);
    }

    .youtube {
        @include button-transp;
        transition: all 1s;
    }

    & .youtube:hover {
        scale: (1.3);
    }
}


@import "footer";