// imports de variables
@import "variables";

// cuerpo para paginas 
body {
    margin: 0;
    font-family: $mainfont, sans-serif;
}

// barra de navegacion
@import "navbar";

// pagina principal html

.grid-container {
    display: grid;

    .box {
        border: 1px solid $mainbackground;
        padding: 0px;
    }

    .names {
        background-color: $mainbackground;
        display: flex;
        justify-content: center;

        .nombre {
            font-size: 4rem;
            font-weight: bold;
            color: black;
            margin: 1px;
        }

        .profesion {
            font-size: 1rem;
            color: rgb(72, 72, 72);
            margin: 10px;
        }
    }

    .intro {
        background-color: $mainbackground;
        display: grid;
        grid-template-columns: 40% 60%;
        padding-top: 30px;

        .styled {
            border-style: none;
            background-color: transparent;
        }
    }

    .textbegin {

        .big {
            font-size: 6rem;
            margin: 1px;
            padding-top: 50px;
        }

        .small {
            font-size: 3rem;
            margin: 1px;
        }
    }

    .main {
        background-color: $mainbackground;

        .texto {
            font-size: 1.5rem;
            padding: 20%;
            padding-top: 10%;
            font-weight: lighter;
            text-align: center;
        }

    }

    // inicio de pagina my story html

    .home {
        background-color: #F5EAEA;
        height: 70vh;

        .texto {
            font-size: 1rem;
            color: black;
            margin: 1px;
            text-align: justify;
            padding: 40px;
        }

        .image {
            margin: 1px;
            display: flex;
            justify-content: center;
        }

    }
}


.stunt {
    background-color: #F5EAEA;


    .pktext {
        font-size: 1rem;
        color: black;
        padding: 40px;
    }

    .parkour {
        margin: 1px;
        display: flex;
        justify-content: center;

    }
}

.actuacion {
    background-color: #F5EAEA;

    .lorem {
        color: black;
        font-size: 1rem;
        padding: 5%;
        text-align: justify;

    }
    .model {
        margin: 1px;
        display: flex;
        justify-content: center;

    }
}



@import "footer";